head
  title jaj
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
  link(rel="stylesheet" href="/main.css")


body
  .container-fluid
    .row
      .col-md-3.col-md-offset-1.col-xs-12#sidebar
        h1 jaj
        p jej.
        form.form-inline(action='/form' method="POST")
          #name-left
            label I am
          #name-right
            input#name(name="name" placeholder="Name" value="#{name}")
          br
          label Message:
          textarea.form-control#textbox.animated(name="message")
          div
            button.btn.btn-default.submit(type="submit" style="margin-top:5px;float:right" disabled) jej!

      .col-md-7.col-md-offset-4.col-xs-12#content
         each message in messages
          .panel.panel-default.message
            .panel-body
              b=message.name
              .close(hidden, rel="#{message._id}") ×
              date.timeago.date(hidden, title="#{message.time}")
              .messagebody=message.message
              

  
  script(src="//code.jquery.com/jquery-1.11.2.min.js")
  script(src="/jquery.timeago.js")
  script(src="/jquery.autosize.min.js")
  script(src="/main.js")
